<h2>☀️ 今天</h2>

<blockquote>最后更新于 <%= updatedAt %>（每天早上 6:00 自动更新）</blockquote>

<img src="https://visitor-badge.glitch.me/badge?page_id=haibin-007" alt="visitor badge"/><img src="https://github.com/haibin/haibin/actions/workflows/main.yml/badge.svg" alt="build badge"/>

<img width="100%" align="center" src="<%= background %>" alt="background">

<h2>🙌 社交</h2>

<table>
    <tr>
        <% socials.forEach(function(social){ %>
        <th><a href="<%= social.url %>" target="_blank"><%= social.name %></a></th>
        <% }); %>
    </tr>
    <tr>
        <% socials.forEach(function(social){ %>
        <td>
            <a href="<%= social.url %>" target="_blank">
                <img src="<%= social.icon %>" alt="<%= social.name %>">
            </a>
        </td>
        <% }); %>
    </tr>
</table>